## You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
## Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY="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"

## Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET="4f7e8e4d7e4f122f8b8697aa73626fdc"
## Create a GitHub OAuth app here: https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/creating-an-oauth-app
AUTH_GITHUB_ID="aedddf30d15a72ac7d1c"
AUTH_GITHUB_SECRET="60863002603664191e65a2ed2c896593854f9b97"
## Support OAuth login on preview deployments, see: https://authjs.dev/guides/basics/deployment#securing-a-preview-deployment
AUTH_REDIRECT_PROXY_URL=https://auth.ai-chatbot-main-tau.vercel.app/api/auth

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and 
KV_URL="redis://default:1035f4e4eb864567abe660e9585223c2@brief-monster-40921.kv.vercel-storage.com:40921"
KV_REST_API_URL="https://brief-monster-40921.kv.vercel-storage.com"
KV_REST_API_TOKEN="AZ_ZASQgOTYyOTgyOWUtNDMwYS00MzkyLWE1YzgtZWUyZDI5OWQ3NDQ4MTAzNWY0ZTRlYjg2NDU2N2FiZTY2MGU5NTg1MjIzYzI="
KV_REST_API_READ_ONLY_TOKEN="Ap_ZASQgOTYyOTgyOWUtNDMwYS00MzkyLWE1YzgtZWUyZDI5OWQ3NDQ4MesKsxYcwnLYNHfahs2wVuEuKZRV3wdkckMnpp_UeO4="
